<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WebHCE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<!--I.DESA-->
		<!--<add name="ApiClinica" connectionString="http://desarrollo2.sanfelipe.com:10/" />
		<add name="CnnBD" connectionString="data source=192.168.142.153\INST01; initial catalog=clinica; user id=ADMCSF; password=4dm3sf; Application Name=WebHCEHospital;" providerName="System.Data.SqlClient" />
		<add name="CnnBD_Logistica" connectionString="data source=192.168.142.153\INST01; initial catalog=logistica; user id=ADMCSF; password=4dm3sf; Application Name=WebHCEHospital;" providerName="System.Data.SqlClient" />-->
		<!--F.DES-->

		<!--I.PROD-->
		<add name="ApiClinica" connectionString="https://his.sanfelipe.com:551/" />
		<add name="CnnBD" connectionString="data source=192.168.42.152\INST01; initial catalog=clinica; user id=ADMCSF; password=4dm3sf; Application Name=WebHCEHospital;" providerName="System.Data.SqlClient" />
		<add name="CnnBD_Logistica" connectionString="data source=192.168.42.152\INST01; initial catalog=logistica; user id=ADMCSF; password=4dm3sf; Application Name=WebHCEHospital;" providerName="System.Data.SqlClient" />
		<!--F.PROD-->
	</connectionStrings>
	<system.web.extensions>
		<!--JB - NUEVO - PERMITE NO TENER LIMITE AL RECIBIR DATA POR AJAX-->
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="300000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<globalization culture="es-PE" uiCulture="es-PE" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
			<assemblies>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="9880" />
		</authentication>
		<sessionState mode="InProc" cookieless="false" timeout="120" />
		<!--JB-->
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<httpHandlers>
			<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
		</httpHandlers>
		<customErrors mode="Off" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<!--PARA IMAGEN/LOGO DEL REPORTE-->
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
			<!--<add verb="GET" name="Demo" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="MENSAJE_ACTUALIZAR_ERROR" value="No se pudo Actualizar los datos." />
		<add key="MENSAJE_GUARDAR_ERROR" value="No se pudo Guardar los datos." />
		<add key="MENSAJE_ELIMINAR_ERROR" value="No se pudo Eliminar los datos." />
		<add key="MENSAJE_ELIMINAR_ERROR" value="No se pudo Eliminar los datos." />
		<add key="LABORATORIO_AMARILLO" value="Res_Laboratorio_Amarillo.jpg" />
		<!--Res_Laboratorio_Amarillo.jpg        LaboratorioA.png-->
		<add key="LABORATORIO_ROJO" value="Res_Laboratorio_Rojo.png" />
		<!--Res_Laboratorio_Rojo       LaboratorioR.png-->
		<add key="LABORATORIO_VERDE" value="Res_Laboratorio_Verde.jpg" />
		<!--Res_Laboratorio_Verde.jpg       LaboratorioV.png-->
		<add key="IMAGEN_AMARILLO" value="Res_Imagenes_Amarillo.jpg" />
		<!--Res_Imagenes_Amarillo.jpg         ImagenA2.png-->
		<add key="IMAGEN_ROJO" value="Res_Imagenes_Rojo.png" />
		<!--Res_Imagenes_Rojo         ImagenR2.png-->
		<add key="IMAGEN_VERDE" value="Res_Imagenes_Verde.jpg" />
		<!--Res_Imagenes_Verde.jpg            ImagenV2.png-->
		<add key="INTERCONSULTA_AMARILLO" value="InterconAmarillo.png" />
		<!--InterconAmarillo    InterconsultaA.png-->
		<add key="INTERCONSULTA_ROJO" value="InterconRojo.png" />
		<!--InterconRojo          InterconsultaR.png-->
		<add key="INTERCONSULTA_VERDE" value="InterconVerde.png" />
		<!--InterconVerde         InterconsultaV.png-->
		<add key="USUARIO_FEMENINO" value="PacienteM.png" />
		<!--PacienteH         UsuarioF.png-->
		<add key="USUARIO_MASCULINO" value="PacienteH.png" />
		<!--PacienteM        UsuarioM.png-->
		<add key="PANTALLA_DEFAULT" value="ConsultaPacienteHospitalizado.aspx" />
		<add key="BDHANNA" value="NO" />

		<!--I.PROD-->
		<add key="RutaApiReporteria" value="https://apicitas.sanfelipe.com:4443/ApiReporteria/api/ReporteInformes"/>
		<!--F.PROD-->
		<!--I.DES-->
		<!--<add key="RutaApiReporteria" value="http://localhost:62339/api/ReporteInformes"/>-->
		<!--F.DES-->
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SoaServiceSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://143.137.145.236/BioPapServices/SoaService.asmx" binding="basicHttpBinding" bindingConfiguration="SoaServiceSoap" contract="WsUnilabsPatologia.SoaServiceSoap" name="SoaServiceSoap" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<WebHCE.My.MySettings>
			<setting name="WebHCE_WsRisPacs_HisXmlEvents" serializeAs="String">
				<value>http://192.168.32.234/WsRisPacsProd/HisXmlEvents.asmx</value>
			</setting>
		</WebHCE.My.MySettings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>